<div id="Output">
  <p>Length: @Model.Getlength()</p>
  <p>Width: @Model.Getwidth()</p>
  <p>Height: @Model.Getheight()</p>
  <p>Weight: @Model.Getweight()</p>
  <p>@Model.GetVolume() Is the Volume of the package.</p>
  <p>$ @Model.GetShipping() is the cost of shipping this package.</p>
</div>
